<template>
    <div id="template-wrapper">
        <header>
            <div id="logo">
                <a> <img src="../assets/images/new_logo.gif"></a>
            </div>
        </header>
        <div class="container">
            <h1 class="heading">Because why? why not?</h1>
            <section id="image_section">
                <h2 class="heading">The legends!</h2>
                <ul>
                    <li><img src="../assets/images/paul.jpg" alt="Paul"></li>
                    <li><img src="../assets/images/george.jpg" alt="George"></li>
                    <li><img src="../assets/images/ringo.jpg" alt="Ringo"></li>
                    <li><img src="../assets/images/john.jpg" alt="John"></li>
                </ul>
            </section>
            <section id="interact_section">
                <h2 class="heading">The legends!</h2>
                <ul>
                    <li>
                        <div class="pic"><img src="../assets/images/paul.jpg" alt="Paul"></div>
                        <div class="name">Name</div>
                        <div class="likes">Likes (including like button</div>
                    </li>
                </ul>

            </section>
        </div>
    </div>
</template>

<script>
    import TheBeatles from '../assets/data/TheBeatles.json';
export default {
        name: 'HomePage',
        data(){
            return TheBeatles;
        },
        mounted () {
            this.runThis()
        },
        methods: {
            runThis(){
                console.log(TheBeatles);
            }
        }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

    #template-wrapper{
        background: #F6F4F9;
    }

    h1{
        position: relative;
    }

    div#logo{
        text-align: center;
        padding: 1rem 0;
        position: relative;
        img{
            max-width: 7rem;
            display: inline-block;
        }
    }

    h1.heading{
        text-align: center;
    }

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
