<template>
  <div id="app">
    <main>
        <HomePage />
    </main>
  </div>
</template>

<script>
import HomePage from './components/HomePage.vue'

export default {
  name: 'app',
  components: {
      HomePage
  }
}
</script>

<style>
    @import url('https://fonts.googleapis.com/css?family=Oswald:700|Source+Sans+Pro');

    /*font-family: 'Oswald', sans-serif;*/
    /*font-family: 'Source Sans Pro', sans-serif;*/

#app {
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

    h1{
        font-family: 'Oswald', sans-serif;
    }
}
</style>
